/* Typography */
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,700,900|Roboto:400,700');

/* Components */
@import 'components/header.css';
@import 'components/banner.css';
@import 'components/secondary-menu.css';
@import 'components/video.css';
@import 'components/info-banner.css';
@import 'components/events.css';
@import 'components/interest.css';
@import 'components/newsletter.css';
@import 'components/footer.css';

/* Others */
@import 'components/utilities.css';

/* General */

html{
  overflow-x: hidden;
}

body{
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
}

a:hover,
a:focus{
  text-decoration: none;
  outline: 0;
}
