.newsletter-wrapper{
  background-color: #e68945;
  background-image: url('../../assets/newsletter-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 50px;
}

.newsletter-title{
  text-transform: uppercase;
  font-weight: 300;
}

.newsletter-link{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
}
